<% include partials/header%>

    <div class="ui main text container segment">
        <div class="ui huge header">
            Edit "<%= editBlog.title %>"
        </div>
        <form action="/blogs/<%= editBlog._id%>?_method=PUT" method="POST" class="ui form">
            <div class="field">
                <label for="">Title</label>
                <input type="text" name="blog[title]" value="<%= editBlog.title%>">
            </div>
            <div class="field">
                <label for="">Image</label>
                <input type="text" name="blog[image]" value="<%= editBlog.image %>">
            </div>
            <div class="field">
                <label for="">Content</label>
                <textarea rows="" cols="" name="blog[body]" placeholder="Write about your Blog here"><%= editBlog.body%></textarea>
            </div>
            <div class="ui buttons">
                <input type="reset" class="ui button">
                <div class="or"></div>
                <input type="submit" class="ui positive button">
            </div>
        </form>
    </div>

<% include partials/footer%>